<h1>Euro Foreign Exchange Reference Rates</h1>
<br>
<div class="text-center">
  <%= form_for @currency, url: show_path do |c| %>
  <p>Choose your Foreign Exchange Reference</p><br>
  <%= c.collection_select :id, Currency.order(:country),:id,:country, {include_blank: false} %>
  <br><br><br>
  <%= c.submit "Search", ({:class => 'btn btn-light btn-sm'}) %>
  <% end %>
</div>
