@import "/*";
@import "bootstrap";

/* font-family: 'Roboto', sans-serif; */

body{
  background-color: #1C3F87;
  font-family: 'Roboto';
  color: white;
  align-items: center;
}

.container-fluid{
  position: absolute;
  width: 100%;
  margin-top: 10%;
}

h1{
  text-align: center;
  text-decoration: underline;
  font-size: 80px;
}

h2{
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
}

p{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

h3{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.time{
  font-size: 15px;
  font-style: italic;
}

a{
  color: #dfe6e9;
  text-decoration: underline;
}

a:hover{
  color: #fff;
  text-shadow: 1px 1px 2px black;
}
